.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage_section{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* Video Background */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place it behind the content */
  filter: blur(8px); /* Apply blur effect */
}

/* Login Page Container */
.login-page {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optional for better text visibility */
}

/* Login Form Container */
.login-form-container {
  position: relative;
  z-index: 1; /* Ensure it appears above the video */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better contrast */
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  height: auto;
  min-height: 300px;
}

/* Login Form Title */
.login-form-container h2 {
  font-size: 2.5rem; 
  margin-bottom: 1rem;
  text-align: center; 
}

/* Labels */
.login-form-container label {
  font-size: 1.4rem; 
  margin-bottom: 0.5rem;
  display: block; 
  
}

/* Input Fields */
.login-form-container input {
  font-size: 1rem; 
  padding: 0.8rem; 
  margin-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

/* Button */
.login-form-container button {
  font-size: 1.4rem; 
  padding: 0.8rem 1.5rem; 
  margin-top: 1rem;
  width: 100%;
}

/* Register Page Container */
.register-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optional for better text visibility */
}

/* Register Form Container */
.register-form-container {
  position: relative;
  z-index: 1; /* Ensure it appears above the video */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better contrast */
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  width: 100%;
  height: auto;
  min-height: 300px;
}

/* Register Form Title */
.register-form-container h2 {
  font-size: 2.5rem; 
  margin-bottom: 1rem;
  text-align: center; 
}


/* Labels */
.register-form-container label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  display: block;
}

/* Input Fields */
.register-form-container input {
  font-size: 1rem;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

/* Button */
.register-form-container button {
  font-size: 1.4rem;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  width: 100%;
}
